@model CharacterTestMvc.ViewModels.CreateViewModel
@{
    ViewBag.Title = "Create";
}

<div>
    <h1>Create Character</h1>

    <br />

    <div class="row">
        <div class="col-sm-4 alignment-event-listener">
            <div class="alignment-btn-group">
                <div class="alignment-btn-row">
                    <button class="btn btn-default" id="AL1">LG</button>
                    <button class="btn btn-default" id="AL2">NG</button>
                    <button class="btn btn-default" id="AL3">CG</button>
                </div>
                <div class="alignment-btn-row">
                    <button class="btn btn-default" id="AL4">LN</button>
                    <button class="btn btn-default" id="AL5">N</button>
                    <button class="btn btn-default" id="AL6">CN</button>
                </div>
                <div class="alignment-btn-row">
                    <button class="btn btn-default" id="AL7">LE</button>
                    <button class="btn btn-default" id="AL8">NE</button>
                    <button class="btn btn-default" id="AL9">CE</button>
                </div>
            </div>
            <div class="alignment-btn-misc">
                <button class="btn btn-default" id="AL0">No Alignment</button>
            </div>
            <div class="alignment-btn-misc">
                <button class="btn btn-default" id="cAL0">Custom Alignment</button>
            </div>
        </div>
        <div class="col-sm-8">
            <h4>Alignment Description:</h4>
            <div class="align-description well" id="alignment-flavor-text"></div>
        </div>
    </div>
    
</div>

@section scripts {
<script>
    $(document).ready(function () {
        var prevID = "AL0";
        $(".alignment-event-listener button").click(function () {

            var alID = $(this).attr("id");

            $("#" + prevID).removeClass("alignment-selected");
            $("#" + alID).addClass("alignment-selected");

            prevID = alID;

            var xmlhttp = new XMLHttpRequest();

            xmlhttp.onreadystatechange = function () {
                if (xmlhttp.readyState = 4 && xmlhttp.status == 200)
                    document.getElementById("alignment-flavor-text").innerHTML = xmlhttp.responseText;
            }

            xmlhttp.open("GET", "@Url.Action("getAlignmentDescription", "Home")" + "?alID=" + alID, true);
            xmlhttp.send();
        });
    });
</script>
}