@model CharacterTestMvc.ViewModels.CreateViewModel
@{
    ViewBag.Title = "Create";
}

<div>
    <h1>Create Character</h1>

    @Html.DropDownList("Alignments", Model.getAlignmentNames(), new { @class = "form-control", @id="ddlAlignment", @onchange="AJAX_getAlignmentDescription()"})

    <div id="AlignmentDescription"></div>
</div>

@section scripts {
    <script>
    function AJAX_getAlignmentDescription()
    {
        //alert("In AJAX_getAlignmentDescription()")
        var xmlhttp = new XMLHttpRequest();

        xmlhttp.onreadystatechange = function()
        {
            if (xmlhttp.readyState = 4 && xmlhttp.status == 200)
                document.getElementById("AlignmentDescription").innerHTML = xmlhttp.responseText;
        }

        xmlhttp.open("GET", "@Url.Action("getAlignmentDescription", "Home")" + "?alID=" + $('#ddlAlignment').val(), true);
        xmlhttp.send();
    }
    </script>
}